{
  "env": {
    "production": {
      "plugins": [
        "external-helpers"
      ],

      "presets": [
        [
          "env",
          { "modules": false }
        ]
      ]
    },

    "test": {
      "presets": "env"
    }
  },
}
